In [1]:
from brfss import bfs_data
import brfss

from acemodel import simulate_stack, simulate_trans
from acemodel import HouseModel
from spew import *

In [2]:
import pandas as pd

In [3]:
from modelmtds import bootstrap_mtd_fill

In [4]:
spdata = pd.read_csv('spew_data/2010_ver1_45079_synth_people.txt', low_memory = False)

In [5]:
spdata['relate'].unique()

array([ 0,  1,  2, 12,  3, 10,  9,  7,  5,  6,  8,  4, 11])

In [6]:
scbrfss = bfs_data('brfss/SCBRFSS.csv')

In [7]:
data_prex = './spew_data/2010_ver1_45079_synth_'
cdl_data = cdn_data(data_prex, age = 0)
len(cdl_data)

352058

In [8]:
display(cdl_data)

,sp_id_x,sp_hh_id,age,sex,race,sporder,relate,sp_id_y,hh_income,_RACE_G1,_INCOMG
0,164099532,48930706,49,2,2,1,0,48930706,115000,2,5
1,164099533,48930706,57,1,2,2,1,48930706,115000,2,5
2,164099534,48954569,49,2,2,1,0,48954569,115000,2,5
3,164099535,48954569,57,1,2,2,1,48954569,115000,2,5
4,164099538,48964134,49,2,2,1,0,48964134,115000,2,5
...,...,...,...,...,...,...,...,...,...,...,...
352053,164066165,48841329,50,1,1,1,0,48841329,90000,1,5
352054,164066169,48822193,50,1,1,1,0,48822193,90000,1,5
352055,164066170,48815049,50,1,1,1,0,48815049,90000,1,5
352056,164066171,48811092,50,1,1,1,0,48811092,90000,1,5
352057,164066175,48812365,50,1,1,1,0,48812365,90000,1,5

In [9]:
test_model = HouseModel(cdl_data, 1,1, step_method = bootstrap_mtd_fill)

In [10]:
test_model.step()

In [11]:
res = test_model.datacollector.model_vars['Output'][-1]
result_df = pd.DataFrame(res); result_df

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
0,165121903,85,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,165121904,85,1,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,165121905,85,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,165641324,50,1,1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,165641323,29,1,1,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12264,162963346,72,1,1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
12265,162963347,72,1,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
12266,162963348,72,1,1,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
12267,162963349,72,1,1,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
12268,162963350,72,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
result_df[result_df['age'] < 18]

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
48,165829048,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,165829045,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,165829052,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,165829049,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,165829056,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12109,150844527,15,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12111,151485100,9,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12113,151485102,4,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12115,151485214,9,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12117,151485216,4,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
test_model.step()
res = test_model.datacollector.model_vars['Output'][-1]
result_df = pd.DataFrame(res); result_df

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
0,165121903,85,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,165121904,85,1,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,165121905,85,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,165641324,50,1,1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,165641323,29,1,1,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12264,162963346,72,1,1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
12265,162963347,72,1,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
12266,162963348,72,1,1,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
12267,162963349,72,1,1,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
12268,162963350,72,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
result_df[result_df['age'] < 18]

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
48,165829048,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,165829045,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,165829052,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
53,165829049,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
58,165829056,8,1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12109,150844527,15,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12111,151485100,9,1,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12113,151485102,4,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12115,151485214,9,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12117,151485216,4,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
bst_result = simulate_stack(bootstrap_mtd_fill, cdl_data = cdl_data, step_num = 2, model = HouseModel); bst_result

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
0,165121903,85,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,165121904,85,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2,165121905,85,1,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,165641324,50,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,165641323,29,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352053,163646280,60,5,5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352054,163646283,60,5,5,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
352055,163646284,60,5,5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
352056,163646286,60,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
352057,163646287,60,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
bst_result_bf = bfs_data(bst_result)

In [17]:
bst_result_bf.get_prop_mat(1,1)['pr']

,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
depress,0.190154,0.121689,0.056728,0.040916,0.087456,0.093732,0.081180,0.127313,0.066183,0.060559,0.048333,0.042220
alcoabuse,0.121689,0.306137,0.064227,0.073111,0.144429,0.157144,0.118592,0.175564,0.095688,0.081506,0.061374,0.064145
drugabuse,0.056728,0.064227,0.096992,0.040101,0.056158,0.051430,0.040427,0.069199,0.036596,0.033010,0.028446,0.018502
prison,0.040916,0.073111,0.040101,0.096829,0.053142,0.057543,0.039449,0.062678,0.042139,0.033825,0.026164,0.025267
patdivorce,0.087456,0.144429,0.056158,0.053142,0.271416,0.120385,0.094303,0.140843,0.068384,0.054446,0.046051,0.063982
phyabuse1,0.093732,0.157144,0.051430,0.057543,0.120385,0.224061,0.117532,0.155025,0.074497,0.065205,0.051430,0.048089
phyabuse2,0.081180,0.118592,0.040427,0.039449,0.094303,0.117532,0.200098,0.165213,0.077512,0.060804,0.050778,0.046785
verbalabuse,0.127313,0.175564,0.069199,0.062678,0.140843,0.155025,0.165213,0.312984,0.107262,0.086234,0.065694,0.069932
sexabuse1,0.066183,0.095688,0.036596,0.042139,0.068384,0.074497,0.077512,0.107262,0.162442,0.108403,0.078980,0.039694
sexabuse2,0.060559,0.081506,0.033010,0.033825,0.054446,0.065205,0.060804,0.086234,0.108403,0.127476,0.072622,0.033092
sexabuse3,0.048333,0.061374,0.028446,0.026164,0.046051,0.051430,0.050778,0.065694,0.078980,0.072622,0.096422,0.023555
foodinsecure,0.042220,0.064145,0.018502,0.025267,0.063982,0.048089,0.046785,0.069932,0.039694,0.033092,0.023555,0.190562

In [18]:
bst_result_bf.get_corr_mat(1,1)

,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
depress,1.000000,0.350960,0.329654,0.193914,0.205410,0.312458,0.274722,0.372577,0.243832,0.277510,0.258982,0.038828
alcoabuse,0.350960,1.000000,0.253184,0.318923,0.299282,0.460787,0.310942,0.373149,0.270344,0.276375,0.234166,0.032083
drugabuse,0.329654,0.253184,1.000000,0.350887,0.226682,0.240669,0.177525,0.283035,0.190915,0.209178,0.218575,0.000162
prison,0.193914,0.318923,0.350887,1.000000,0.204257,0.290721,0.169667,0.236069,0.242112,0.217810,0.192774,0.058677
patdivorce,0.205410,0.299282,0.226682,0.204257,1.000000,0.321279,0.224795,0.271059,0.148113,0.133826,0.151461,0.070203
phyabuse1,0.312458,0.460787,0.240669,0.290721,0.321279,1.000000,0.435799,0.439090,0.247725,0.263505,0.242342,0.032922
phyabuse2,0.274722,0.310942,0.177525,0.169667,0.224795,0.435799,1.000000,0.552972,0.304997,0.264535,0.266617,0.055074
verbalabuse,0.372577,0.373149,0.283035,0.236069,0.271059,0.439090,0.552972,1.000000,0.329865,0.299619,0.259480,0.056500
sexabuse1,0.243832,0.270344,0.190915,0.242112,0.148113,0.247725,0.304997,0.329865,1.000000,0.712886,0.581554,0.060320
sexabuse2,0.277510,0.276375,0.209178,0.217810,0.133826,0.263505,0.264535,0.299619,0.712886,1.000000,0.612865,0.067181
sexabuse3,0.258982,0.234166,0.218575,0.192774,0.151461,0.242342,0.266617,0.259480,0.581554,0.612865,1.000000,0.044692
foodinsecure,0.038828,0.032083,0.000162,0.058677,0.070203,0.032922,0.055074,0.056500,0.060320,0.067181,0.044692,1.000000

In [19]:
bst_result[bst_result.age < 18]

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
48,165829048,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
49,165829045,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,165829052,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,165829049,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
58,165829056,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352021,141520733,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352022,141520751,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352048,159390840,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352049,159390843,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352050,159390873,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
trans_rate = {ace:0.2 for ace in brfss.ace_list.values()}

In [21]:
bst_result = simulate_trans(bootstrap_mtd_fill, cdl_data = cdl_data, step_num = 2, model = HouseModel,
                           trans_rate = trans_rate); bst_result

36.2 s Â± 71 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [22]:
bst_result_bf = bfs_data(bst_result)

In [23]:
bst_result_bf.get_prop_mat(1,1)['pr']

,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
depress,0.190154,0.121689,0.056728,0.040916,0.087456,0.093732,0.081180,0.127313,0.066183,0.060559,0.048333,0.042220
alcoabuse,0.121689,0.306137,0.064227,0.073111,0.144429,0.157144,0.118592,0.175564,0.095688,0.081506,0.061374,0.064145
drugabuse,0.056728,0.064227,0.096992,0.040101,0.056158,0.051430,0.040427,0.069199,0.036596,0.033010,0.028446,0.018502
prison,0.040916,0.073111,0.040101,0.096829,0.053142,0.057543,0.039449,0.062678,0.042139,0.033825,0.026164,0.025267
patdivorce,0.087456,0.144429,0.056158,0.053142,0.271416,0.120385,0.094303,0.140843,0.068384,0.054446,0.046051,0.063982
phyabuse1,0.093732,0.157144,0.051430,0.057543,0.120385,0.224061,0.117532,0.155025,0.074497,0.065205,0.051430,0.048089
phyabuse2,0.081180,0.118592,0.040427,0.039449,0.094303,0.117532,0.200098,0.165213,0.077512,0.060804,0.050778,0.046785
verbalabuse,0.127313,0.175564,0.069199,0.062678,0.140843,0.155025,0.165213,0.312984,0.107262,0.086234,0.065694,0.069932
sexabuse1,0.066183,0.095688,0.036596,0.042139,0.068384,0.074497,0.077512,0.107262,0.162442,0.108403,0.078980,0.039694
sexabuse2,0.060559,0.081506,0.033010,0.033825,0.054446,0.065205,0.060804,0.086234,0.108403,0.127476,0.072622,0.033092
sexabuse3,0.048333,0.061374,0.028446,0.026164,0.046051,0.051430,0.050778,0.065694,0.078980,0.072622,0.096422,0.023555
foodinsecure,0.042220,0.064145,0.018502,0.025267,0.063982,0.048089,0.046785,0.069932,0.039694,0.033092,0.023555,0.190562

In [24]:
bst_result_bf.get_corr_mat(1,1)

,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
depress,1.000000,0.350960,0.329654,0.193914,0.205410,0.312458,0.274722,0.372577,0.243832,0.277510,0.258982,0.038828
alcoabuse,0.350960,1.000000,0.253184,0.318923,0.299282,0.460787,0.310942,0.373149,0.270344,0.276375,0.234166,0.032083
drugabuse,0.329654,0.253184,1.000000,0.350887,0.226682,0.240669,0.177525,0.283035,0.190915,0.209178,0.218575,0.000162
prison,0.193914,0.318923,0.350887,1.000000,0.204257,0.290721,0.169667,0.236069,0.242112,0.217810,0.192774,0.058677
patdivorce,0.205410,0.299282,0.226682,0.204257,1.000000,0.321279,0.224795,0.271059,0.148113,0.133826,0.151461,0.070203
phyabuse1,0.312458,0.460787,0.240669,0.290721,0.321279,1.000000,0.435799,0.439090,0.247725,0.263505,0.242342,0.032922
phyabuse2,0.274722,0.310942,0.177525,0.169667,0.224795,0.435799,1.000000,0.552972,0.304997,0.264535,0.266617,0.055074
verbalabuse,0.372577,0.373149,0.283035,0.236069,0.271059,0.439090,0.552972,1.000000,0.329865,0.299619,0.259480,0.056500
sexabuse1,0.243832,0.270344,0.190915,0.242112,0.148113,0.247725,0.304997,0.329865,1.000000,0.712886,0.581554,0.060320
sexabuse2,0.277510,0.276375,0.209178,0.217810,0.133826,0.263505,0.264535,0.299619,0.712886,1.000000,0.612865,0.067181
sexabuse3,0.258982,0.234166,0.218575,0.192774,0.151461,0.242342,0.266617,0.259480,0.581554,0.612865,1.000000,0.044692
foodinsecure,0.038828,0.032083,0.000162,0.058677,0.070203,0.032922,0.055074,0.056500,0.060320,0.067181,0.044692,1.000000

In [25]:
bst_result[bst_result.age < 18]

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
48,165829048,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
49,165829045,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,165829052,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,165829049,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
58,165829056,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352021,141520733,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352022,141520751,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352048,159390840,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352049,159390843,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352050,159390873,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
for i in range(2):
    print('transmit rates:'.upper())
    al = list(brfss.ace_list.values())
    rl = np.random.choice(4,12)/10 + 0.2
    trans_rate = dict(zip(al, rl))
    
    for t in list(brfss.ace_list.values())[0:6]:
        print('{:>15}'.format(t), end='')
    print('')    
    print(''.join(['{:>15.2}'.format(r) for r in rl[0:6]]))
    for t in list(brfss.ace_list.values())[6:]:
        print('{:>15}'.format(t), end='')
    print('')    
    print(''.join(['{:>15.2}'.format(r) for r in rl[6:]]))
    
    bst_result = simulate_trans(bootstrap_mtd_fill, cdl_data = cdl_data, 
                                step_num = 2, model = HouseModel, trans_rate = trans_rate)
    bst_result_bf = bfs_data(bst_result)
    print('\n\t simulation result:'.upper())
    display(bst_result)
    print('\n\t propotion:'.upper())
    display(bst_result_bf.get_prop_mat(1,1)['pr'])
    print('\n\t correlation:'.upper())
    display(bst_result_bf.get_corr_mat(1,1))
    
    print('\n\t children result:'.upper())
    display(bst_result[bst_result.age < 18])
    chd_simu_result = bfs_data(bst_result[bst_result.age < 18])
    print('\n\t propotion of children:'.upper())
    display(chd_simu_result.get_prop_mat(1,1)['pr'])
    print('\n\t correlation of children:'.upper())
    display(chd_simu_result.get_corr_mat(1,1))
    
    print('')

transmit rates:
        depress      alcoabuse      drugabuse         prison     patdivorce      phyabuse1
            0.2            0.4            0.2            0.4            0.2            0.5
      phyabuse2    verbalabuse      sexabuse1      sexabuse2      sexabuse3   foodinsecure
            0.3            0.5            0.2            0.2            0.3            0.3

	 SIMULATION RESULT:

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
0,165121903,85,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,165121904,85,1,1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
2,165121905,85,1,1,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,165641324,50,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,165641323,29,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352053,163646280,60,5,5,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
352054,163646283,60,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
352055,163646284,60,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352056,163646286,60,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352057,163646287,60,5,5,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

	 propotion:

,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
depress,0.186568,0.118592,0.058358,0.043850,0.082484,0.094058,0.082077,0.127476,0.065286,0.058358,0.045888,0.039938
alcoabuse,0.118592,0.304996,0.065531,0.076616,0.135056,0.161301,0.115168,0.173364,0.092347,0.078246,0.057706,0.060478
drugabuse,0.058358,0.065531,0.101231,0.044095,0.054120,0.052082,0.038634,0.068710,0.036026,0.031787,0.026245,0.021681
prison,0.043850,0.076616,0.044095,0.102779,0.052653,0.061374,0.040101,0.064553,0.042628,0.033662,0.025837,0.022007
patdivorce,0.082484,0.135056,0.054120,0.052653,0.260738,0.117043,0.089575,0.135463,0.063656,0.048741,0.043280,0.064064
phyabuse1,0.094058,0.161301,0.052082,0.061374,0.117043,0.240932,0.115657,0.162360,0.074904,0.062434,0.050371,0.055995
phyabuse2,0.082077,0.115168,0.038634,0.040101,0.089575,0.115657,0.198223,0.163909,0.076371,0.057788,0.048578,0.050615
verbalabuse,0.127476,0.173364,0.068710,0.064553,0.135463,0.162360,0.163909,0.326188,0.106529,0.082403,0.063330,0.066917
sexabuse1,0.065286,0.092347,0.036026,0.042628,0.063656,0.074904,0.076371,0.106529,0.160404,0.104654,0.078491,0.039775
sexabuse2,0.058358,0.078246,0.031787,0.033662,0.048741,0.062434,0.057788,0.082403,0.104654,0.122422,0.069606,0.028853
sexabuse3,0.045888,0.057706,0.026245,0.025837,0.043280,0.050371,0.048578,0.063330,0.078491,0.069606,0.095199,0.029098
foodinsecure,0.039938,0.060478,0.021681,0.022007,0.064064,0.055995,0.050615,0.066917,0.039775,0.028853,0.029098,0.180047

	 correlation:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       1.000000   0.343945   0.335916  0.208582    0.197850   0.294771
alcoabuse     0.343945   1.000000   0.249550  0.323782    0.274725   0.446017
drugabuse     0.335916   0.249550   1.000000  0.367810    0.209361   0.214683
prison        0.208582   0.323782   0.367810  1.000000    0.193924   0.281919
patdivorce    0.197850   0.274725   0.209361  0.193924    1.000000   0.288796
phyabuse1     0.294771   0.446017   0.214683  0.281919    0.288796   1.000000
phyabuse2     0.290364   0.298078   0.154409  0.162957    0.216486   0.398264
verbalabuse   0.364770   0.342270   0.252381  0.217942    0.244931   0.417834
sexabuse1     0.247339   0.257007   0.178763  0.234577    0.135508   0.231030
sexabuse2     0.278164   0.271075   0.196167  0.211781    0.116887   0.234985
sexabuse3     0.246008   0.212182   0.187604  0.180119    0.143246   0.218581
foodinsecure  0.042404   0.031452   0.029806  0.030010    0.101480   0.076777

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.290364     0.364770   0.247339   0.278164   0.246008
alcoabuse      0.298078     0.342270   0.257007   0.271075   0.212182
drugabuse      0.154409     0.252381   0.178763   0.196167   0.187604
prison         0.162957     0.217942   0.234577   0.211781   0.180119
patdivorce     0.216486     0.244931   0.135508   0.116887   0.143246
phyabuse1      0.398264     0.417834   0.231030   0.234985   0.218581
phyabuse2      1.000000     0.531041   0.304684   0.256531   0.253899
verbalabuse    0.531041     1.000000   0.315070   0.276380   0.234587
sexabuse1      0.304684     0.315070   1.000000   0.706788   0.586974
sexabuse2      0.256531     0.276380   0.706788   1.000000   0.602422
sexabuse3      0.253899     0.234587   0.586974   0.602422   1.000000
foodinsecure   0.097442     0.045452   0.077265   0.054085   0.106036

              foodinsecure
depress           0.042404
alcoabuse         0.031452
drugabuse         0.029806
prison            0.030010
patdivorce        0.101480
phyabuse1         0.076777
phyabuse2         0.097442
verbalabuse       0.045452
sexabuse1         0.077265
sexabuse2         0.054085
sexabuse3         0.106036
foodinsecure      1.000000

	 children result:

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
48,165829048,8,1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
49,165829045,2,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
52,165829052,8,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
53,165829049,2,1,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
58,165829056,8,1,1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352021,141520733,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352022,141520751,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352048,159390840,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352049,159390843,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352050,159390873,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

	 propotion of children:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       0.050859   0.022680   0.003436  0.006873    0.007560   0.015808
alcoabuse     0.022680   0.193814   0.016495  0.024055    0.028179   0.068729
drugabuse     0.003436   0.016495   0.042612  0.006186    0.006186   0.015808
prison        0.006873   0.024055   0.006186  0.066667    0.006873   0.024742
patdivorce    0.007560   0.028179   0.006186  0.006873    0.082474   0.024055
phyabuse1     0.015808   0.068729   0.015808  0.024742    0.024055   0.183505
phyabuse2     0.010997   0.032302   0.002749  0.010997    0.008935   0.025430
verbalabuse   0.021306   0.081787   0.013746  0.028866    0.032302   0.081787
sexabuse1     0.004811   0.013058   0.003436  0.008935    0.004811   0.017182
sexabuse2     0.004124   0.013746   0.006186  0.005498    0.006873   0.008935
sexabuse3     0.004811   0.018557   0.005498  0.008935    0.006873   0.016495
foodinsecure  0.002749   0.017182   0.002749  0.006186    0.006186   0.013058

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.010997     0.021306   0.004811   0.004124   0.004811
alcoabuse      0.032302     0.081787   0.013058   0.013746   0.018557
drugabuse      0.002749     0.013746   0.003436   0.006186   0.005498
prison         0.010997     0.028866   0.008935   0.005498   0.008935
patdivorce     0.008935     0.032302   0.004811   0.006873   0.006873
phyabuse1      0.025430     0.081787   0.017182   0.008935   0.016495
phyabuse2      0.089347     0.045361   0.009622   0.005498   0.007560
verbalabuse    0.045361     0.261168   0.020619   0.014433   0.018557
sexabuse1      0.009622     0.020619   0.052234   0.006186   0.013058
sexabuse2      0.005498     0.014433   0.006186   0.030928   0.007560
sexabuse3      0.007560     0.018557   0.013058   0.007560   0.045361
foodinsecure   0.008935     0.025430   0.004811   0.002749   0.006186

              foodinsecure
depress           0.002749
alcoabuse         0.017182
drugabuse         0.002749
prison            0.006186
patdivorce        0.006186
phyabuse1         0.013058
phyabuse2         0.008935
verbalabuse       0.025430
sexabuse1         0.004811
sexabuse2         0.002749
sexabuse3         0.006186
foodinsecure      0.073540

	 correlation of children:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       1.000000   0.147651   0.028601  0.063538    0.055685   0.076132
alcoabuse     0.147651   1.000000   0.103158  0.112919    0.112142   0.216739
drugabuse     0.028601   0.103158   1.000000  0.066388    0.048076   0.102173
prison        0.063538   0.112919   0.066388  1.000000    0.020032   0.129549
patdivorce    0.055685   0.112142   0.048076  0.020032    1.000000   0.083776
phyabuse1     0.076132   0.216739   0.102173  0.129549    0.083776   1.000000
phyabuse2     0.102958   0.132907  -0.018365  0.070835    0.019956   0.081820
verbalabuse   0.083130   0.179505   0.029495  0.104539    0.089068   0.199145
sexabuse1     0.044072   0.033369   0.026939  0.098241    0.008219   0.088209
sexabuse2     0.067060   0.113271   0.139207  0.079576    0.090756   0.048637
sexabuse3     0.054767   0.118715   0.084828  0.113868    0.054709   0.101440
foodinsecure -0.017280   0.028389  -0.007293  0.019704    0.001678  -0.004320

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.102958     0.083130   0.044072   0.067060   0.054767
alcoabuse      0.132907     0.179505   0.033369   0.113271   0.118715
drugabuse     -0.018365     0.029495   0.026939   0.139207   0.084828
prison         0.070835     0.104539   0.098241   0.079576   0.113868
patdivorce     0.019956     0.089068   0.008219   0.090756   0.054709
phyabuse1      0.081820     0.199145   0.088209   0.048637   0.101440
phyabuse2      1.000000     0.175788   0.078074   0.055384   0.059087
verbalabuse    0.175788     1.000000   0.071383   0.083574   0.073404
sexabuse1      0.078074     0.071383   1.000000   0.118644   0.230862
sexabuse2      0.055384     0.083574   0.118644   1.000000   0.170912
sexabuse3      0.059087     0.073404   0.230862   0.170912   1.000000
foodinsecure   0.031753     0.054277   0.016698   0.010505   0.052465

              foodinsecure
depress          -0.017280
alcoabuse         0.028389
drugabuse        -0.007293
prison            0.019704
patdivorce        0.001678
phyabuse1        -0.004320
phyabuse2         0.031753
verbalabuse       0.054277
sexabuse1         0.016698
sexabuse2         0.010505
sexabuse3         0.052465
foodinsecure      1.000000

transmit rates:
        depress      alcoabuse      drugabuse         prison     patdivorce      phyabuse1
            0.5            0.4            0.5            0.5            0.3            0.5
      phyabuse2    verbalabuse      sexabuse1      sexabuse2      sexabuse3   foodinsecure
            0.4            0.5            0.4            0.2            0.4            0.5

	 SIMULATION RESULT:

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
0,165121903,85,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,165121904,85,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,165121905,85,1,1,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
3,165641324,50,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,165641323,29,1,1,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352053,163646280,60,5,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
352054,163646283,60,5,5,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
352055,163646284,60,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352056,163646286,60,5,5,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
352057,163646287,60,5,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

	 propotion:

,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
depress,0.201320,0.124542,0.059989,0.046133,0.090227,0.101638,0.087212,0.131633,0.068954,0.061537,0.050860,0.054202
alcoabuse,0.124542,0.309805,0.063493,0.076534,0.136930,0.163420,0.120222,0.174831,0.095281,0.079632,0.060641,0.072622
drugabuse,0.059989,0.063493,0.098297,0.042057,0.055587,0.051919,0.040346,0.066998,0.035374,0.031461,0.027875,0.017524
prison,0.046133,0.076534,0.042057,0.103187,0.054283,0.062189,0.040346,0.063249,0.042465,0.033662,0.026164,0.028935
patdivorce,0.090227,0.136930,0.055587,0.054283,0.267585,0.121200,0.093569,0.138724,0.065531,0.051267,0.044828,0.067406
phyabuse1,0.101638,0.163420,0.051919,0.062189,0.121200,0.241747,0.121281,0.161301,0.073682,0.061782,0.051430,0.069117
phyabuse2,0.087212,0.120222,0.040346,0.040346,0.093569,0.121281,0.206292,0.171326,0.079143,0.062026,0.051349,0.057380
verbalabuse,0.131633,0.174831,0.066998,0.063249,0.138724,0.161301,0.171326,0.320646,0.108403,0.085011,0.064471,0.080039
sexabuse1,0.068954,0.095281,0.035374,0.042465,0.065531,0.073682,0.079143,0.108403,0.169859,0.109463,0.082810,0.047355
sexabuse2,0.061537,0.079632,0.031461,0.033662,0.051267,0.061782,0.062026,0.085011,0.109463,0.128291,0.074578,0.037900
sexabuse3,0.050860,0.060641,0.027875,0.026164,0.044828,0.051430,0.051349,0.064471,0.082810,0.074578,0.100660,0.031869
foodinsecure,0.054202,0.072622,0.017524,0.028935,0.067406,0.069117,0.057380,0.080039,0.047355,0.037900,0.031869,0.198794

	 correlation:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       1.000000   0.335298   0.336736  0.207892    0.204809   0.308538
alcoabuse     0.335298   1.000000   0.240003  0.316822    0.263940   0.447146
drugabuse     0.336736   0.240003   1.000000  0.352388    0.222192   0.220897
prison        0.207892   0.316822   0.352388  1.000000    0.198053   0.285961
patdivorce    0.204809   0.263940   0.222192  0.198053    1.000000   0.298155
phyabuse1     0.308538   0.447146   0.220897  0.285961    0.298155   1.000000
phyabuse2     0.281535   0.300949   0.166581  0.154833    0.214187   0.412195
verbalabuse   0.358429   0.349798   0.255340  0.212443    0.256141   0.419296
sexabuse1     0.230838   0.245666   0.167067  0.218308    0.120787   0.202889
sexabuse2     0.266300   0.257936   0.189342  0.200769    0.114416   0.214894
sexabuse3     0.253588   0.211713   0.200730  0.172370    0.134335   0.210343
foodinsecure  0.088611   0.059794  -0.016975  0.069370    0.080437   0.123249

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.281535     0.358429   0.230838   0.266300   0.253588
alcoabuse      0.300949     0.349798   0.245666   0.257936   0.211713
drugabuse      0.166581     0.255340   0.167067   0.189342   0.200730
prison         0.154833     0.212443   0.218308   0.200769   0.172370
patdivorce     0.214187     0.256141   0.120787   0.114416   0.134335
phyabuse1      0.412195     0.419296   0.202889   0.214894   0.210343
phyabuse2      1.000000     0.556927   0.290246   0.262795   0.251203
verbalabuse    0.556927     1.000000   0.307766   0.281109   0.229266
sexabuse1      0.290246     0.307766   1.000000   0.698160   0.581615
sexabuse2      0.262795     0.281109   0.698160   1.000000   0.612859
sexabuse3      0.251203     0.229266   0.581615   0.612859   1.000000
foodinsecure   0.101373     0.087492   0.090671   0.092888   0.098755

              foodinsecure
depress           0.088611
alcoabuse         0.059794
drugabuse        -0.016975
prison            0.069370
patdivorce        0.080437
phyabuse1         0.123249
phyabuse2         0.101373
verbalabuse       0.087492
sexabuse1         0.090671
sexabuse2         0.092888
sexabuse3         0.098755
foodinsecure      1.000000

	 children result:

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
48,165829048,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
49,165829045,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,165829052,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,165829049,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,165829056,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352021,141520733,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352022,141520751,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352048,159390840,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352049,159390843,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352050,159390873,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

	 propotion of children:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       0.160137   0.064605   0.026117  0.019244    0.035052   0.052234
alcoabuse     0.064605   0.199313   0.024055  0.031615    0.039175   0.070790
drugabuse     0.026117   0.024055   0.076289  0.019244    0.017869   0.024742
prison        0.019244   0.031615   0.019244  0.082474    0.015120   0.029553
patdivorce    0.035052   0.039175   0.017869  0.015120    0.116838   0.040550
phyabuse1     0.052234   0.070790   0.024742  0.029553    0.040550   0.193814
phyabuse2     0.041237   0.041237   0.019244  0.014433    0.030241   0.054296
verbalabuse   0.065292   0.075601   0.028866  0.029553    0.047423   0.086598
sexabuse1     0.040550   0.043299   0.015120  0.018557    0.015808   0.032302
sexabuse2     0.020619   0.019931   0.010309  0.006873    0.011684   0.021306
sexabuse3     0.021306   0.016495   0.007560  0.008247    0.012371   0.021993
foodinsecure  0.030928   0.037113   0.008935  0.014433    0.026804   0.044674

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.041237     0.065292   0.040550   0.020619   0.021306
alcoabuse      0.041237     0.075601   0.043299   0.019931   0.016495
drugabuse      0.019244     0.028866   0.015120   0.010309   0.007560
prison         0.014433     0.029553   0.018557   0.006873   0.008247
patdivorce     0.030241     0.047423   0.015808   0.011684   0.012371
phyabuse1      0.054296     0.086598   0.032302   0.021306   0.021993
phyabuse2      0.134708     0.075601   0.028866   0.021306   0.018557
verbalabuse    0.075601     0.232302   0.050172   0.030928   0.024055
sexabuse1      0.028866     0.050172   0.116838   0.023368   0.021993
sexabuse2      0.021306     0.030928   0.023368   0.059794   0.012371
sexabuse3      0.018557     0.024055   0.021993   0.012371   0.061168
foodinsecure   0.030241     0.054296   0.020619   0.016495   0.013746

              foodinsecure
depress           0.030928
alcoabuse         0.037113
drugabuse         0.008935
prison            0.014433
patdivorce        0.026804
phyabuse1         0.044674
phyabuse2         0.030241
verbalabuse       0.054296
sexabuse1         0.020619
sexabuse2         0.016495
sexabuse3         0.013746
foodinsecure      0.151203

	 correlation of children:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       1.000000   0.223116   0.142781  0.059839    0.138715   0.146220
alcoabuse     0.223116   1.000000   0.083451  0.138108    0.123809   0.203665
drugabuse     0.142781   0.083451   1.000000  0.177368    0.105027   0.094884
prison        0.059839   0.138108   0.177368  1.000000    0.062062   0.124783
patdivorce    0.138715   0.123809   0.105027  0.062062    1.000000   0.141009
phyabuse1     0.146220   0.203665   0.094884  0.124783    0.141009   1.000000
phyabuse2     0.157063   0.105494   0.098943  0.035383    0.132227   0.208864
verbalabuse   0.181387   0.173682   0.099407  0.089476    0.149503   0.249054
sexabuse1     0.185388   0.155944   0.072788  0.100951    0.020897   0.076057
sexabuse2     0.127002   0.084604   0.091318  0.029765    0.061677   0.103676
sexabuse3     0.130974   0.044951   0.045488  0.048582    0.067867   0.107023
foodinsecure  0.051108   0.048750  -0.027343  0.019916    0.079405   0.108526

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.157063     0.181387   0.185388   0.127002   0.130974
alcoabuse      0.105494     0.173682   0.155944   0.084604   0.044951
drugabuse      0.098943     0.099407   0.072788   0.091318   0.045488
prison         0.035383     0.089476   0.100951   0.029765   0.048582
patdivorce     0.132227     0.149503   0.020897   0.061677   0.067867
phyabuse1      0.208864     0.249054   0.076057   0.103676   0.107023
phyabuse2      1.000000     0.307317   0.119694   0.163695   0.126099
verbalabuse    0.307317     1.000000   0.169769   0.170156   0.097287
sexabuse1      0.119694     0.169769   1.000000   0.215080   0.192863
sexabuse2      0.163695     0.170156   0.215080   1.000000   0.153357
sexabuse3      0.126099     0.097287   0.192863   0.153357   1.000000
foodinsecure   0.080716     0.126717   0.025654   0.087753   0.052381

              foodinsecure
depress           0.051108
alcoabuse         0.048750
drugabuse        -0.027343
prison            0.019916
patdivorce        0.079405
phyabuse1         0.108526
phyabuse2         0.080716
verbalabuse       0.126717
sexabuse1         0.025654
sexabuse2         0.087753
sexabuse3         0.052381
foodinsecure      1.000000