In [1]:
from brfss import bfs_data
import brfss

from acemodel import simulate_stack, simulate_trans
from acemodel import HouseModel
from spew import *

In [2]:
import pandas as pd

In [3]:
from modelmtds import bootstrap_mtd_fill

In [4]:
spdata = pd.read_csv('spew_data/2010_ver1_45079_synth_people.txt', low_memory = False)

In [5]:
spdata['relate'].unique()

array([ 0,  1,  2, 12,  3, 10,  9,  7,  5,  6,  8,  4, 11])

In [6]:
scbrfss = bfs_data('brfss/SCBRFSS.csv')

In [7]:
data_prex = './spew_data/2010_ver1_45079_synth_'
cdl_data = cdn_data(data_prex, age = 0)
len(cdl_data)

352058

In [8]:
display(cdl_data)

,sp_id_x,sp_hh_id,age,sex,race,sporder,relate,sp_id_y,hh_income,_RACE_G1,_INCOMG
0,164099532,48930706,49,2,2,1,0,48930706,115000,2,5
1,164099533,48930706,57,1,2,2,1,48930706,115000,2,5
2,164099534,48954569,49,2,2,1,0,48954569,115000,2,5
3,164099535,48954569,57,1,2,2,1,48954569,115000,2,5
4,164099538,48964134,49,2,2,1,0,48964134,115000,2,5
...,...,...,...,...,...,...,...,...,...,...,...
352053,164066165,48841329,50,1,1,1,0,48841329,90000,1,5
352054,164066169,48822193,50,1,1,1,0,48822193,90000,1,5
352055,164066170,48815049,50,1,1,1,0,48815049,90000,1,5
352056,164066171,48811092,50,1,1,1,0,48811092,90000,1,5
352057,164066175,48812365,50,1,1,1,0,48812365,90000,1,5

In [9]:
test_model = HouseModel(cdl_data, 1,1, step_method = bootstrap_mtd_fill)

In [10]:
test_model.step()

In [11]:
res = test_model.datacollector.model_vars['Output'][-1]
result_df = pd.DataFrame(res); result_df

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
0,165121903,85,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,165121904,85,1,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,165121905,85,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,165641324,50,1,1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,165641323,29,1,1,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12264,162963346,72,1,1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
12265,162963347,72,1,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
12266,162963348,72,1,1,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
12267,162963349,72,1,1,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
12268,162963350,72,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
result_df[result_df['age'] < 18]

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
48,165829048,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,165829045,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,165829052,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,165829049,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,165829056,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12109,150844527,15,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12111,151485100,9,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12113,151485102,4,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12115,151485214,9,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12117,151485216,4,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
test_model.step()
res = test_model.datacollector.model_vars['Output'][-1]
result_df = pd.DataFrame(res); result_df

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
0,165121903,85,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,165121904,85,1,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,165121905,85,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,165641324,50,1,1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,165641323,29,1,1,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12264,162963346,72,1,1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
12265,162963347,72,1,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
12266,162963348,72,1,1,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
12267,162963349,72,1,1,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
12268,162963350,72,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
result_df[result_df['age'] < 18]

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
48,165829048,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,165829045,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,165829052,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
53,165829049,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
58,165829056,8,1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12109,150844527,15,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12111,151485100,9,1,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12113,151485102,4,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12115,151485214,9,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12117,151485216,4,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
bst_result = simulate_stack(bootstrap_mtd_fill, cdl_data = cdl_data, step_num = 2, model = HouseModel); bst_result

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
0,165121903,85,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,165121904,85,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2,165121905,85,1,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,165641324,50,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,165641323,29,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352053,163646280,60,5,5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352054,163646283,60,5,5,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
352055,163646284,60,5,5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
352056,163646286,60,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
352057,163646287,60,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
bst_result_bf = bfs_data(bst_result)

In [17]:
bst_result_bf.get_prop_mat(1,1)['pr']

,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
depress,0.190154,0.121689,0.056728,0.040916,0.087456,0.093732,0.081180,0.127313,0.066183,0.060559,0.048333,0.042220
alcoabuse,0.121689,0.306137,0.064227,0.073111,0.144429,0.157144,0.118592,0.175564,0.095688,0.081506,0.061374,0.064145
drugabuse,0.056728,0.064227,0.096992,0.040101,0.056158,0.051430,0.040427,0.069199,0.036596,0.033010,0.028446,0.018502
prison,0.040916,0.073111,0.040101,0.096829,0.053142,0.057543,0.039449,0.062678,0.042139,0.033825,0.026164,0.025267
patdivorce,0.087456,0.144429,0.056158,0.053142,0.271416,0.120385,0.094303,0.140843,0.068384,0.054446,0.046051,0.063982
phyabuse1,0.093732,0.157144,0.051430,0.057543,0.120385,0.224061,0.117532,0.155025,0.074497,0.065205,0.051430,0.048089
phyabuse2,0.081180,0.118592,0.040427,0.039449,0.094303,0.117532,0.200098,0.165213,0.077512,0.060804,0.050778,0.046785
verbalabuse,0.127313,0.175564,0.069199,0.062678,0.140843,0.155025,0.165213,0.312984,0.107262,0.086234,0.065694,0.069932
sexabuse1,0.066183,0.095688,0.036596,0.042139,0.068384,0.074497,0.077512,0.107262,0.162442,0.108403,0.078980,0.039694
sexabuse2,0.060559,0.081506,0.033010,0.033825,0.054446,0.065205,0.060804,0.086234,0.108403,0.127476,0.072622,0.033092
sexabuse3,0.048333,0.061374,0.028446,0.026164,0.046051,0.051430,0.050778,0.065694,0.078980,0.072622,0.096422,0.023555
foodinsecure,0.042220,0.064145,0.018502,0.025267,0.063982,0.048089,0.046785,0.069932,0.039694,0.033092,0.023555,0.190562

In [18]:
bst_result_bf.get_corr_mat(1,1)

,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
depress,1.000000,0.350960,0.329654,0.193914,0.205410,0.312458,0.274722,0.372577,0.243832,0.277510,0.258982,0.038828
alcoabuse,0.350960,1.000000,0.253184,0.318923,0.299282,0.460787,0.310942,0.373149,0.270344,0.276375,0.234166,0.032083
drugabuse,0.329654,0.253184,1.000000,0.350887,0.226682,0.240669,0.177525,0.283035,0.190915,0.209178,0.218575,0.000162
prison,0.193914,0.318923,0.350887,1.000000,0.204257,0.290721,0.169667,0.236069,0.242112,0.217810,0.192774,0.058677
patdivorce,0.205410,0.299282,0.226682,0.204257,1.000000,0.321279,0.224795,0.271059,0.148113,0.133826,0.151461,0.070203
phyabuse1,0.312458,0.460787,0.240669,0.290721,0.321279,1.000000,0.435799,0.439090,0.247725,0.263505,0.242342,0.032922
phyabuse2,0.274722,0.310942,0.177525,0.169667,0.224795,0.435799,1.000000,0.552972,0.304997,0.264535,0.266617,0.055074
verbalabuse,0.372577,0.373149,0.283035,0.236069,0.271059,0.439090,0.552972,1.000000,0.329865,0.299619,0.259480,0.056500
sexabuse1,0.243832,0.270344,0.190915,0.242112,0.148113,0.247725,0.304997,0.329865,1.000000,0.712886,0.581554,0.060320
sexabuse2,0.277510,0.276375,0.209178,0.217810,0.133826,0.263505,0.264535,0.299619,0.712886,1.000000,0.612865,0.067181
sexabuse3,0.258982,0.234166,0.218575,0.192774,0.151461,0.242342,0.266617,0.259480,0.581554,0.612865,1.000000,0.044692
foodinsecure,0.038828,0.032083,0.000162,0.058677,0.070203,0.032922,0.055074,0.056500,0.060320,0.067181,0.044692,1.000000

In [19]:
bst_result[bst_result.age < 18]

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
48,165829048,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
49,165829045,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,165829052,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,165829049,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
58,165829056,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352021,141520733,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352022,141520751,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352048,159390840,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352049,159390843,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352050,159390873,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
trans_rate = {ace:0.2 for ace in brfss.ace_list.values()}

In [21]:
bst_result = simulate_trans(bootstrap_mtd_fill, cdl_data = cdl_data, step_num = 2, model = HouseModel,
                           trans_rate = trans_rate); bst_result

36.2 s Â± 71 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [22]:
bst_result_bf = bfs_data(bst_result)

In [23]:
bst_result_bf.get_prop_mat(1,1)['pr']

,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
depress,0.190154,0.121689,0.056728,0.040916,0.087456,0.093732,0.081180,0.127313,0.066183,0.060559,0.048333,0.042220
alcoabuse,0.121689,0.306137,0.064227,0.073111,0.144429,0.157144,0.118592,0.175564,0.095688,0.081506,0.061374,0.064145
drugabuse,0.056728,0.064227,0.096992,0.040101,0.056158,0.051430,0.040427,0.069199,0.036596,0.033010,0.028446,0.018502
prison,0.040916,0.073111,0.040101,0.096829,0.053142,0.057543,0.039449,0.062678,0.042139,0.033825,0.026164,0.025267
patdivorce,0.087456,0.144429,0.056158,0.053142,0.271416,0.120385,0.094303,0.140843,0.068384,0.054446,0.046051,0.063982
phyabuse1,0.093732,0.157144,0.051430,0.057543,0.120385,0.224061,0.117532,0.155025,0.074497,0.065205,0.051430,0.048089
phyabuse2,0.081180,0.118592,0.040427,0.039449,0.094303,0.117532,0.200098,0.165213,0.077512,0.060804,0.050778,0.046785
verbalabuse,0.127313,0.175564,0.069199,0.062678,0.140843,0.155025,0.165213,0.312984,0.107262,0.086234,0.065694,0.069932
sexabuse1,0.066183,0.095688,0.036596,0.042139,0.068384,0.074497,0.077512,0.107262,0.162442,0.108403,0.078980,0.039694
sexabuse2,0.060559,0.081506,0.033010,0.033825,0.054446,0.065205,0.060804,0.086234,0.108403,0.127476,0.072622,0.033092
sexabuse3,0.048333,0.061374,0.028446,0.026164,0.046051,0.051430,0.050778,0.065694,0.078980,0.072622,0.096422,0.023555
foodinsecure,0.042220,0.064145,0.018502,0.025267,0.063982,0.048089,0.046785,0.069932,0.039694,0.033092,0.023555,0.190562

In [24]:
bst_result_bf.get_corr_mat(1,1)

,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
depress,1.000000,0.350960,0.329654,0.193914,0.205410,0.312458,0.274722,0.372577,0.243832,0.277510,0.258982,0.038828
alcoabuse,0.350960,1.000000,0.253184,0.318923,0.299282,0.460787,0.310942,0.373149,0.270344,0.276375,0.234166,0.032083
drugabuse,0.329654,0.253184,1.000000,0.350887,0.226682,0.240669,0.177525,0.283035,0.190915,0.209178,0.218575,0.000162
prison,0.193914,0.318923,0.350887,1.000000,0.204257,0.290721,0.169667,0.236069,0.242112,0.217810,0.192774,0.058677
patdivorce,0.205410,0.299282,0.226682,0.204257,1.000000,0.321279,0.224795,0.271059,0.148113,0.133826,0.151461,0.070203
phyabuse1,0.312458,0.460787,0.240669,0.290721,0.321279,1.000000,0.435799,0.439090,0.247725,0.263505,0.242342,0.032922
phyabuse2,0.274722,0.310942,0.177525,0.169667,0.224795,0.435799,1.000000,0.552972,0.304997,0.264535,0.266617,0.055074
verbalabuse,0.372577,0.373149,0.283035,0.236069,0.271059,0.439090,0.552972,1.000000,0.329865,0.299619,0.259480,0.056500
sexabuse1,0.243832,0.270344,0.190915,0.242112,0.148113,0.247725,0.304997,0.329865,1.000000,0.712886,0.581554,0.060320
sexabuse2,0.277510,0.276375,0.209178,0.217810,0.133826,0.263505,0.264535,0.299619,0.712886,1.000000,0.612865,0.067181
sexabuse3,0.258982,0.234166,0.218575,0.192774,0.151461,0.242342,0.266617,0.259480,0.581554,0.612865,1.000000,0.044692
foodinsecure,0.038828,0.032083,0.000162,0.058677,0.070203,0.032922,0.055074,0.056500,0.060320,0.067181,0.044692,1.000000

In [25]:
bst_result[bst_result.age < 18]

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
48,165829048,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
49,165829045,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,165829052,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,165829049,2,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
58,165829056,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352021,141520733,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352022,141520751,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352048,159390840,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352049,159390843,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352050,159390873,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
for i in range(2):
    print('transmit rates:')
    al = list(brfss.ace_list.values())
    rl = np.random.choice(4,12)/10 + 0.2
    trans_rate = dict(zip(al, rl))
    
    for t in list(brfss.ace_list.values())[0:6]:
        print('{:>15}'.format(t), end='')
    print('')    
    print(''.join(['{:>15.2}'.format(r) for r in rl[0:6]]))
    for t in list(brfss.ace_list.values())[6:]:
        print('{:>15}'.format(t), end='')
    print('')    
    print(''.join(['{:>15.2}'.format(r) for r in rl[6:]]))
    
    bst_result = simulate_trans(bootstrap_mtd_fill, cdl_data = cdl_data, 
                                step_num = 2, model = HouseModel, trans_rate = trans_rate)
    bst_result_bf = bfs_data(bst_result)
    print('\n\t simulation result:'.upper())
    display(bst_result)
    print('\n\t propotion:')
    display(bst_result_bf.get_prop_mat(1,1)['pr'])
    print('\n\t correlation:')
    print(bst_result_bf.get_corr_mat(1,1))
    
    print('\n\t children result:')
    display(bst_result[bst_result.age < 18])
    chd_simu_result = bfs_data(bst_result[bst_result.age < 18])
    print('\n\t propotion of children:')
    print(chd_simu_result.get_prop_mat(1,1)['pr'])
    print('\n\t correlation of children:')
    print(chd_simu_result.get_corr_mat(1,1))
    
    print('')

transmit rates:
        depress      alcoabuse      drugabuse         prison     patdivorce      phyabuse1
            0.4            0.5            0.3            0.2            0.4            0.4
      phyabuse2    verbalabuse      sexabuse1      sexabuse2      sexabuse3   foodinsecure
            0.3            0.5            0.5            0.5            0.3            0.2

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
0,165121903,85,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,165121904,85,1,1,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
2,165121905,85,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,165641324,50,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
4,165641323,29,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352053,163646280,60,5,5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
352054,163646283,60,5,5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
352055,163646284,60,5,5,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
352056,163646286,60,5,5,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352057,163646287,60,5,5,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0

	 propotion:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       0.193659   0.119814   0.057869  0.042302    0.088108   0.095362
alcoabuse     0.119814   0.314777   0.066183  0.074334    0.142391   0.156818
drugabuse     0.057869   0.066183   0.100416  0.044747    0.056321   0.049637
prison        0.042302   0.074334   0.044747  0.097318    0.053142   0.058032
patdivorce    0.088108   0.142391   0.056321  0.053142    0.272557   0.118999
phyabuse1     0.095362   0.156818   0.049637  0.058032    0.118999   0.227239
phyabuse2     0.084114   0.117369   0.039531  0.038389    0.091776   0.113294
verbalabuse   0.127150   0.175157   0.067650  0.063249    0.137583   0.156736
sexabuse1     0.067324   0.095770   0.038471  0.041894    0.069769   0.073030
sexabuse2     0.060070   0.078654   0.033662  0.033092    0.052898   0.059907
sexabuse3     0.048496   0.058929   0.029098  0.025430    0.045399   0.047926
foodinsecure  0.046051   0.065531   0.027060  0.030239    0.063982   0.054446

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.084114     0.127150   0.067324   0.060070   0.048496
alcoabuse      0.117369     0.175157   0.095770   0.078654   0.058929
drugabuse      0.039531     0.067650   0.038471   0.033662   0.029098
prison         0.038389     0.063249   0.041894   0.033092   0.025430
patdivorce     0.091776     0.137583   0.069769   0.052898   0.045399
phyabuse1      0.113294     0.156736   0.073030   0.059907   0.047926
phyabuse2      0.197816     0.165213   0.075475   0.060641   0.046540
verbalabuse    0.165213     0.316489   0.106773   0.083299   0.060070
sexabuse1      0.075475     0.106773   0.162279   0.105469   0.076290
sexabuse2      0.060641     0.083299   0.105469   0.125683   0.069117
sexabuse3      0.046540     0.060070   0.076290   0.069117   0.091939
foodinsecure   0.054772     0.071970   0.037167   0.030809   0.024941

              foodinsecure
depress           0.046051
alcoabuse         0.065531
drugabuse         0.027060
prison            0.030239
patdivorce        0.063982
phyabuse1         0.054446
phyabuse2         0.054772
verbalabuse       0.071970
sexabuse1         0.037167
sexabuse2         0.030809
sexabuse3         0.024941
foodinsecure      0.185590

	 correlation:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       1.000000   0.320691   0.323513  0.200261    0.200761   0.310130
alcoabuse     0.320691   1.000000   0.247695  0.317468    0.273682   0.438235
drugabuse     0.323513   0.247695   1.000000  0.392615    0.216335   0.212939
prison        0.200261   0.317468   0.392615  1.000000    0.201683   0.289189
patdivorce    0.200761   0.273682   0.216335  0.201683    1.000000   0.305820
phyabuse1     0.310130   0.438235   0.212939  0.289189    0.305820   1.000000
phyabuse2     0.290987   0.297835   0.164264  0.162096    0.213445   0.409409
verbalabuse   0.358331   0.349680   0.256599  0.235386    0.247810   0.435182
sexabuse1     0.246379   0.260972   0.200112  0.238847    0.155560   0.233994
sexabuse2     0.272766   0.253918   0.211195  0.212316    0.126296   0.225663
sexabuse3     0.268801   0.223477   0.228756  0.192466    0.158097   0.223270
foodinsecure  0.065807   0.039387   0.072093  0.105681    0.077399   0.075333

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.290987     0.358331   0.246379   0.272766   0.268801
alcoabuse      0.297835     0.349680   0.260972   0.253918   0.223477
drugabuse      0.164264     0.256599   0.200112   0.211195   0.228756
prison         0.162096     0.235386   0.238847   0.212316   0.192466
patdivorce     0.213445     0.247810   0.155560   0.126296   0.158097
phyabuse1      0.409409     0.435182   0.233994   0.225663   0.223270
phyabuse2      1.000000     0.553804   0.295309   0.270947   0.246335
verbalabuse    0.553804     1.000000   0.323135   0.282285   0.230471
sexabuse1      0.295309     0.323135   1.000000   0.696051   0.576061
sexabuse2      0.270947     0.282285   0.696051   1.000000   0.600976
sexabuse3      0.246335     0.230471   0.576061   0.600976   1.000000
foodinsecure   0.116612     0.073182   0.049179   0.058071   0.070131

              foodinsecure
depress           0.065807
alcoabuse         0.039387
drugabuse         0.072093
prison            0.105681
patdivorce        0.077399
phyabuse1         0.075333
phyabuse2         0.116612
verbalabuse       0.073182
sexabuse1         0.049179
sexabuse2         0.058071
sexabuse3         0.070131
foodinsecure      1.000000

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
48,165829048,8,1,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
49,165829045,2,1,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
52,165829052,8,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,165829049,2,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,165829056,8,1,1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352021,141520733,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352022,141520751,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352048,159390840,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352049,159390843,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352050,159390873,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

	 propotion of children:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       0.127835   0.050172   0.014433  0.006873    0.032990   0.030928
alcoabuse     0.050172   0.239863   0.025430  0.011684    0.060481   0.058419
drugabuse     0.014433   0.025430   0.054296  0.002062    0.012371   0.013058
prison        0.006873   0.011684   0.002062  0.030241    0.008247   0.008247
patdivorce    0.032990   0.060481   0.012371  0.008247    0.172509   0.037801
phyabuse1     0.030928   0.058419   0.013058  0.008247    0.037801   0.138832
phyabuse2     0.027491   0.043986   0.009622  0.005498    0.024742   0.026117
verbalabuse   0.052921   0.074914   0.021306  0.012371    0.057732   0.058419
sexabuse1     0.038488   0.046048   0.014433  0.006186    0.032302   0.028866
sexabuse2     0.030241   0.037801   0.008247  0.006186    0.026804   0.024055
sexabuse3     0.015120   0.020619   0.004811  0.002062    0.013746   0.015120
foodinsecure  0.008935   0.013058   0.002062  0.004811    0.008935   0.006186

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.027491     0.052921   0.038488   0.030241   0.015120
alcoabuse      0.043986     0.074914   0.046048   0.037801   0.020619
drugabuse      0.009622     0.021306   0.014433   0.008247   0.004811
prison         0.005498     0.012371   0.006186   0.006186   0.002062
patdivorce     0.024742     0.057732   0.032302   0.026804   0.013746
phyabuse1      0.026117     0.058419   0.028866   0.024055   0.015120
phyabuse2      0.099656     0.053608   0.028179   0.024055   0.010997
verbalabuse    0.053608     0.225430   0.048797   0.038488   0.019244
sexabuse1      0.028179     0.048797   0.115464   0.043299   0.021306
sexabuse2      0.024055     0.038488   0.043299   0.090722   0.021993
sexabuse3      0.010997     0.019244   0.021306   0.021993   0.049485
foodinsecure   0.009622     0.013746   0.004811   0.006186   0.005498

              foodinsecure
depress           0.008935
alcoabuse         0.013058
drugabuse         0.002062
prison            0.004811
patdivorce        0.008935
phyabuse1         0.006186
phyabuse2         0.009622
verbalabuse       0.013746
sexabuse1         0.004811
sexabuse2         0.006186
sexabuse3         0.005498
foodinsecure      0.052234

	 correlation of children:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       1.000000   0.136831   0.099019  0.052588    0.086694   0.114160
alcoabuse     0.136831   1.000000   0.128218  0.060587    0.118408   0.170131
drugabuse     0.099019   0.128218   1.000000  0.010822    0.035096   0.070458
prison        0.052588   0.060587   0.010822  1.000000    0.046841   0.068382
patdivorce    0.086694   0.118408   0.035096  0.046841    1.000000   0.106025
phyabuse1     0.114160   0.170131   0.070458  0.068382    0.106025   1.000000
phyabuse2     0.147491   0.157012   0.062041  0.048437    0.066718   0.118578
verbalabuse   0.172748   0.116809   0.095746  0.077615    0.119354   0.187718
sexabuse1     0.222356   0.134490   0.112733  0.049223    0.102563   0.116160
sexabuse2     0.194398   0.130789   0.051037  0.069983    0.102786   0.115396
sexabuse3     0.121442   0.094476   0.043224  0.015224    0.063573   0.110018
foodinsecure  0.030385   0.005573  -0.015356  0.084809   -0.000905  -0.013858

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.147491     0.172748   0.222356   0.194398   0.121442
alcoabuse      0.157012     0.116809   0.134490   0.130789   0.094476
drugabuse      0.062041     0.095746   0.112733   0.051037   0.043224
prison         0.048437     0.077615   0.049223   0.069983   0.015224
patdivorce     0.066718     0.119354   0.102563   0.102786   0.063573
phyabuse1      0.118578     0.187718   0.116160   0.115396   0.110018
phyabuse2      1.000000     0.248808   0.174160   0.174516   0.093362
verbalabuse    0.248808     1.000000   0.170496   0.150285   0.089254
sexabuse1      0.174160     0.170496   1.000000   0.357606   0.224963
sexabuse2      0.174516     0.150285   0.357606   1.000000   0.281005
sexabuse3      0.093362     0.089254   0.224963   0.281005   1.000000
foodinsecure   0.066268     0.021196  -0.017159   0.022641   0.060378

              foodinsecure
depress           0.030385
alcoabuse         0.005573
drugabuse        -0.015356
prison            0.084809
patdivorce       -0.000905
phyabuse1        -0.013858
phyabuse2         0.066268
verbalabuse       0.021196
sexabuse1        -0.017159
sexabuse2         0.022641
sexabuse3         0.060378
foodinsecure      1.000000

transmit rates:
        depress      alcoabuse      drugabuse         prison     patdivorce      phyabuse1
            0.5            0.4            0.2            0.4            0.5            0.4
      phyabuse2    verbalabuse      sexabuse1      sexabuse2      sexabuse3   foodinsecure
            0.2            0.3            0.5            0.2            0.4            0.2

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
0,165121903,85,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,165121904,85,1,1,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
2,165121905,85,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,165641324,50,1,1,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
4,165641323,29,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352053,163646280,60,5,5,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
352054,163646283,60,5,5,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
352055,163646284,60,5,5,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
352056,163646286,60,5,5,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
352057,163646287,60,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

	 propotion:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       0.193577   0.117695   0.056402  0.041813    0.088190   0.092836
alcoabuse     0.117695   0.303529   0.061537  0.073845    0.138887   0.153150
drugabuse     0.056402   0.061537   0.092102  0.039775    0.052572   0.047518
prison        0.041813   0.073845   0.039775  0.101475    0.051267   0.059255
patdivorce    0.088190   0.138887   0.052572  0.051267    0.277692   0.116880
phyabuse1     0.092836   0.153150   0.047518  0.059255    0.116880   0.227402
phyabuse2     0.078164   0.110685   0.035944  0.036678    0.087864   0.111582
verbalabuse   0.124868   0.171489   0.062271  0.062108    0.136767   0.155840
sexabuse1     0.062841   0.093080   0.033662  0.039123    0.068058   0.073193
sexabuse2     0.056484   0.078898   0.030728  0.031380    0.051675   0.061945
sexabuse3     0.046948   0.060804   0.025837  0.024533    0.043850   0.049393
foodinsecure  0.040590   0.070503   0.018665  0.026327    0.063086   0.058114

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.078164     0.124868   0.062841   0.056484   0.046948
alcoabuse      0.110685     0.171489   0.093080   0.078898   0.060804
drugabuse      0.035944     0.062271   0.033662   0.030728   0.025837
prison         0.036678     0.062108   0.039123   0.031380   0.024533
patdivorce     0.087864     0.136767   0.068058   0.051675   0.043850
phyabuse1      0.111582     0.155840   0.073193   0.061945   0.049393
phyabuse2      0.191947     0.159671   0.072052   0.056402   0.046133
verbalabuse    0.159671     0.315511   0.104899   0.082077   0.062597
sexabuse1      0.072052     0.104899   0.165132   0.106692   0.080039
sexabuse2      0.056402     0.082077   0.106692   0.123971   0.072622
sexabuse3      0.046133     0.062597   0.080039   0.072622   0.096748
foodinsecure   0.040509     0.063575   0.039368   0.028609   0.024207

              foodinsecure
depress           0.040590
alcoabuse         0.070503
drugabuse         0.018665
prison            0.026327
patdivorce        0.063086
phyabuse1         0.058114
phyabuse2         0.040509
verbalabuse       0.063575
sexabuse1         0.039368
sexabuse2         0.028609
sexabuse3         0.024207
foodinsecure      0.193414

	 correlation:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       1.000000   0.324444   0.337619  0.185823    0.194602   0.294765
alcoabuse     0.324444   1.000000   0.252578  0.310038    0.265149   0.436525
drugabuse     0.337619   0.252578   1.000000  0.348489    0.208447   0.219244
prison        0.185823   0.310038   0.348489  1.000000    0.170730   0.285852
patdivorce    0.194602   0.265149   0.208447  0.170730    1.000000   0.286232
phyabuse1     0.294765   0.436525   0.219244  0.285852    0.286232   1.000000
phyabuse2     0.263541   0.289512   0.160387  0.144634    0.195948   0.411523
verbalabuse   0.347429   0.354391   0.247142  0.214439    0.236165   0.431708
sexabuse1     0.210466   0.251632   0.171867  0.199491    0.133514   0.229010
sexabuse2     0.249498   0.272368   0.202631  0.188926    0.116871   0.244357
sexabuse3     0.241609   0.231300   0.198014  0.164860    0.128286   0.221068
foodinsecure  0.020182   0.064955   0.007452  0.056175    0.053005   0.085355

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.263541     0.347429   0.210466   0.249498   0.241609
alcoabuse      0.289512     0.354391   0.251632   0.272368   0.231300
drugabuse      0.160387     0.247142   0.171867   0.202631   0.198014
prison         0.144634     0.214439   0.199491   0.188926   0.164860
patdivorce     0.195948     0.236165   0.133514   0.116871   0.128286
phyabuse1      0.411523     0.431708   0.229010   0.244357   0.221068
phyabuse2      1.000000     0.541519   0.275970   0.251231   0.236742
verbalabuse    0.541519     1.000000   0.305985   0.280531   0.233457
sexabuse1      0.275970     0.305985   1.000000   0.704637   0.583657
sexabuse2      0.251231     0.280531   0.704637   1.000000   0.622343
sexabuse3      0.236742     0.233457   0.583657   0.622343   1.000000
foodinsecure   0.021750     0.013896   0.050655   0.035578   0.047062

              foodinsecure
depress           0.020182
alcoabuse         0.064955
drugabuse         0.007452
prison            0.056175
patdivorce        0.053005
phyabuse1         0.085355
phyabuse2         0.021750
verbalabuse       0.013896
sexabuse1         0.050655
sexabuse2         0.035578
sexabuse3         0.047062
foodinsecure      1.000000

,id,age,_RACE_G1,_INCOMG,depress,alcoabuse,drugabuse,prison,patdivorce,phyabuse1,phyabuse2,verbalabuse,sexabuse1,sexabuse2,sexabuse3,foodinsecure
48,165829048,8,1,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
49,165829045,2,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
52,165829052,8,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,165829049,2,1,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
58,165829056,8,1,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352021,141520733,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352022,141520751,17,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352048,159390840,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352049,159390843,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352050,159390873,2,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

	 propotion of children:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       0.134708   0.040550   0.008247  0.021306    0.033677   0.027491
alcoabuse     0.040550   0.162887   0.008247  0.016495    0.054296   0.030241
drugabuse     0.008247   0.008247   0.028866  0.007560    0.013058   0.009622
prison        0.021306   0.016495   0.007560  0.067354    0.021993   0.017182
patdivorce    0.033677   0.054296   0.013058  0.021993    0.195876   0.040550
phyabuse1     0.027491   0.030241   0.009622  0.017182    0.040550   0.120275
phyabuse2     0.017869   0.020619   0.005498  0.006873    0.017182   0.017182
verbalabuse   0.032302   0.037801   0.007560  0.016495    0.046048   0.033677
sexabuse1     0.026804   0.032302   0.004811  0.013058    0.032990   0.017869
sexabuse2     0.012371   0.019244   0.003436  0.005498    0.009622   0.007560
sexabuse3     0.021993   0.025430   0.004811  0.011684    0.017869   0.010997
foodinsecure  0.013058   0.008935   0.002062  0.004811    0.016495   0.008247

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.017869     0.032302   0.026804   0.012371   0.021993
alcoabuse      0.020619     0.037801   0.032302   0.019244   0.025430
drugabuse      0.005498     0.007560   0.004811   0.003436   0.004811
prison         0.006873     0.016495   0.013058   0.005498   0.011684
patdivorce     0.017182     0.046048   0.032990   0.009622   0.017869
phyabuse1      0.017182     0.033677   0.017869   0.007560   0.010997
phyabuse2      0.068041     0.016495   0.015120   0.006873   0.011684
verbalabuse    0.016495     0.153952   0.032302   0.015808   0.017182
sexabuse1      0.015120     0.032302   0.118900   0.022680   0.032302
sexabuse2      0.006873     0.015808   0.022680   0.046735   0.017869
sexabuse3      0.011684     0.017182   0.032302   0.017869   0.066667
foodinsecure   0.008247     0.010997   0.010997   0.004811   0.006873

              foodinsecure
depress           0.013058
alcoabuse         0.008935
drugabuse         0.002062
prison            0.004811
patdivorce        0.016495
phyabuse1         0.008247
phyabuse2         0.008247
verbalabuse       0.010997
sexabuse1         0.010997
sexabuse2         0.004811
sexabuse3         0.006873
foodinsecure      0.066667

	 correlation of children:
               depress  alcoabuse  drugabuse    prison  patdivorce  phyabuse1  \
depress       1.000000   0.147598   0.076255  0.142957    0.053808   0.101656
alcoabuse     0.147598   1.000000   0.057348  0.059685    0.152780   0.088660
drugabuse     0.076255   0.057348   1.000000  0.133828    0.111429   0.112925
prison        0.142957   0.059685   0.133828  1.000000    0.088470   0.111388
patdivorce    0.053808   0.152780   0.111429  0.088470    1.000000   0.131614
phyabuse1     0.101656   0.088660   0.112925  0.111388    0.131614   1.000000
phyabuse2     0.101238   0.102548   0.083825  0.036284    0.038568   0.109856
verbalabuse   0.093850   0.095477   0.051570  0.067720    0.110956   0.129140
sexabuse1     0.097618   0.108226   0.025443  0.062251    0.075511   0.033896
sexabuse2     0.084309   0.149234   0.059066  0.044431    0.005582   0.028242
sexabuse3     0.152797   0.158185   0.069116  0.115062    0.048597   0.036705
foodinsecure  0.047883  -0.020892   0.003291  0.005130    0.034712   0.002823

              phyabuse2  verbalabuse  sexabuse1  sexabuse2  sexabuse3  \
depress        0.101238     0.093850   0.097618   0.084309   0.152797
alcoabuse      0.102548     0.095477   0.108226   0.149234   0.158185
drugabuse      0.083825     0.051570   0.025443   0.059066   0.069116
prison         0.036284     0.067720   0.062251   0.044431   0.115062
patdivorce     0.038568     0.110956   0.075511   0.005582   0.048597
phyabuse1      0.109856     0.129140   0.033896   0.028242   0.036705
phyabuse2      1.000000     0.066238   0.086253   0.069479   0.113792
verbalabuse    0.066238     1.000000   0.119827   0.113061   0.076853
sexabuse1      0.086253     0.119827   1.000000   0.250646   0.301912
sexabuse2      0.069479     0.113061   0.250646   1.000000   0.280220
sexabuse3      0.113792     0.076853   0.301912   0.280220   1.000000
foodinsecure   0.059084     0.008143   0.038023   0.032199   0.039028

              foodinsecure
depress           0.047883
alcoabuse        -0.020892
drugabuse         0.003291
prison            0.005130
patdivorce        0.034712
phyabuse1         0.002823
phyabuse2         0.059084
verbalabuse       0.008143
sexabuse1         0.038023
sexabuse2         0.032199
sexabuse3         0.039028
foodinsecure      1.000000